<head>
    <!-- Bootstrap include -->
    <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous"
    />
    <!-- jquery 버전 유의 -->
    <!-- slim/jquery, 3.1.0 윗 버전에서 ajax가 작동하지 않는 오류 확인 -->
    <!-- Bootstrap의 CDN을 copy&paste 하되 Line 8의 버전만 3.1.0으로 수정하세요 -->
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
</head>

<body>
    <div class="container" style="background-color: rgba(166, 208, 229, 0.558);">
        <br>
        <h1> 요트 관리 서비스</h1>
        <p> 요트 관리 서비스에 오신것을 환여합니다. </p>
        <hr>
        <br>        
    </div>
    <div class="container" style="background-color: rgba(73, 146, 230, 0.906);">
        <br>
        <!-- 1. 요트 등록 -->
        <a href="./createYacht.html" class="btn btn-light"> 요트등록하기 </a>
        <br><br>
        <!-- 2. 요트 판매 -->
        <a href="./transferYacht.html" class="btn btn-light"> 요트거래하기 </a>
        <br><br>
        <!-- 3. 요트 조회 -->
        <a href="./readYacht.html" class="btn btn-dark"> 나의요트조회하기 </a>
        <br>
        <hr>
    </div>
</body>
